# .gitignore

# Python artifacts
venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class
*.log
*.tmp
.Python
ipython/
.ipynb_checkpoints/

# Latex artifacts
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.lof
*.lot
